extends layout

block content
  .Albums
      .leftA
        h2
          | Breiða
          span fjörður
        img(src='images/Empty.png')
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et ex et ante hendrerit rutrum. Morbi iaculis rutrum augue, non ultricies lacus eleifend eu. In.
        a(href='#')
            i.fa.fa-plus(aria-hidden='true')
      .centerleftA
        h2
          | Stykkis
          span hólmur
        img(src='images/Empty.png')
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et ex et ante hendrerit rutrum. Morbi iaculis rutrum augue, non ultricies lacus eleifend eu. In.
        a(href='#')
            i.fa.fa-plus(aria-hidden='true')
      .centerrightA
        h2
          | Snæfells
          span nes
        img(src='images/Empty.png')
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et ex et ante hendrerit rutrum. Morbi iaculis rutrum augue, non ultricies lacus eleifend eu. In.
        a(href='#')
            i.fa.fa-plus(aria-hidden='true')
      .rightA
        h2
          | Entertain
          span ment
        img(src='images/Empty.png')
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et ex et ante hendrerit rutrum. Morbi iaculis rutrum augue, non ultricies lacus eleifend eu. In.
        p
          a(href='#')
            i.fa.fa-plus(aria-hidden='true')
