extends layout

block content
   .surroundings
      .animateme.scrollme(data-when='enter', data-from='1.2', data-to='0', data-opacity='0', data-translatex='-400')
        img(src='../images/PhotoHere.jpg')
      .text
        h1|Lorem ipsum dolor sit amet
        p |Curabitur vel odio elit. Nullam pulvinar euismod turpis, nec auctor elit. Nullam eu lacus magna. Donec varius euismod arcu, in bibendum nibh consequat a. Etiam eu eros non nibh tincidunt placerat. Mauris auctor leo non aliquet euismod. Suspendisse sit amet mollis mi, feugiat suscipit arcu. Pellentesque ac blandit dui, sit amet dapibus purus. Aenean semper metus sed tellus eleifend, nec cursus metus vulputate. Quisque urna purus, varius sed ultricies non, vestibulum at orci. In vitae convallis mauris. Donec accumsan lacus in hendrerit egestas. Morbi in risus quis quam laoreet tincidunt at facilisis ante. In vestibulum ligula vel vehicula consequat. Sed ut risus interdum, sagittis sapien eu, tristique odio.
    .surroundings1
      .text1
        h1| Lorem Ipsum
        p| Curabitur vel odio elit. Nullam pulvinar euismod turpis, nec auctor elit. Nullam eu lacus magna. Donec varius euismod arcu, in bibendum nibh consequat a. Etiam eu eros non nibh tincidunt placerat. Mauris auctor leo non aliquet euismod. Suspendisse sit amet mollis mi, feugiat suscipit arcu. Pellentesque ac blandit dui, sit amet dapibus purus. Aenean semper metus sed tellus eleifend, nec cursus metus vulputate. Quisque urna purus, varius sed ultricies non, vestibulum at orci. In vitae convallis mauris. Donec accumsan lacus in hendrerit egestas. Morbi in risus quis quam laoreet tincidunt at facilisis ante. In vestibulum ligula vel vehicula consequat. Sed ut risus interdum, sagittis sapien eu, tristique odio.

      .animateme.scrollme(data-when='enter', data-from='1.2', data-to='0', data-opacity='0', data-translatex='400')
        img(src='../images/PhotoHere.jpg')

    .surroundings1
      .animateme.scrollme(data-when='enter', data-from='1.2', data-to='0', data-opacity='0', data-translatex='-400')
        img(src='../images/PhotoHere.jpg')
      .text1
        h1|Lorem ipsum dolor sit amet
        p |Curabitur vel odio elit. Nullam pulvinar euismod turpis, nec auctor elit. Nullam eu lacus magna. Donec varius euismod arcu, in bibendum nibh consequat a. Etiam eu eros non nibh tincidunt placerat. Mauris auctor leo non aliquet euismod. Suspendisse sit amet mollis mi, feugiat suscipit arcu. Pellentesque ac blandit dui, sit amet dapibus purus. Aenean semper metus sed tellus eleifend, nec cursus metus vulputate. Quisque urna purus, varius sed ultricies non, vestibulum at orci. In vitae convallis mauris. Donec accumsan lacus in hendrerit egestas. Morbi in risus quis quam laoreet tincidunt at facilisis ante. In vestibulum ligula vel vehicula consequat. Sed ut risus interdum, sagittis sapien eu, tristique odio.