/*block content
   
block content
    form(action='/login', method='post', name='login' class='loginf')
      div
        label Username:
        input(type='text', name='username', class='user')
      div
        label Password:
        input(type='password', name='password', class='pwd')
      div
        input(type='submit', class='btn-login', value='Log In')

*/
.loginf{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.loginf label{
    display: block;
    margin-bottom: 8px;
}
.loginf input[type="text"],
.loginf input[type="password"],
.loginf select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.loginf input[type="text"],
.loginf input[type="password"],
.loginf select:focus{
  background-color: #d2d9dd;
}

.loginf input[type="submit"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: grey;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.loginf input[type="submit"]:hover
{
    background: lightgrey;
}